<div class="course-details" *ngIf="course">
    <h1>{{ course.name }}</h1>

    <!-- Toggle buttons -->
    <div class="toggle-buttons">
        <button (click)="view = 'students'">Students</button>
        <button (click)="view = 'assignments'">Assignments</button>
    </div>

    <!-- Conditionally show Students -->
    <div *ngIf="view === 'students'">
        <div class="add-student-to-course">
            <label for="studentSelect">Add Student:</label>
            <select id="studentSelect" [(ngModel)]="selectedStudent">
                <option *ngFor="let student of availableStudents" [ngValue]="student">{{ student.name }}</option>
            </select>
            <button (click)="addStudentToCourse()">Add</button>
        </div>

        <h3>Students:</h3>
        <div class="students-list">
            <div class="student-card" *ngFor="let student of course.students; let i = index">
                <div class="student-info">
                    <p>{{ student.name }}</p>
                </div>
                <button class="delete-button" (click)="removeStudent(i)">✖</button>
            </div>
        </div>
    </div>

    <div *ngIf="view === 'assignments'">
        <h3>Assignments:</h3>
        <div *ngIf="assignments.length > 0; else noAssignments" class="assignments-list">
            <div class="assignment-card" *ngFor="let assignment of assignments; let i = index">
                <div class="assignment-info">
                    <h4>{{ assignment.title }}</h4>
                    <p><strong>Description:</strong> {{ assignment.description }}</p>
                    <p><strong>Due Date:</strong> <span class="due-date">
                            {{ datePipe.transform(assignment.dueDate, 'dd/MM/yy, hh:mm a') }}</span></p>
                </div>
            </div>
        </div>
        <ng-template #noAssignments>
            <p class="no-assignments-message">No assignments available.</p>
        </ng-template>
    </div>
</div>